<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="shortcut icon" href="../img/muscle.png">
	<link rel="stylesheet" href="../css/style.css">
</head>

<body>
	<header>
		<div class="logo">
		<H1>Ezequiel Bustamante</H1>
		</div>
		<nav class="navbar">
			<ul class="header__list">
				<li>
					<a href="../index.html"> Inicio</a></li>
				<li>
					<a href="../views/servicios.html">Servicios</a>
				</li>
				<li>
					<a href="../views/Productos.html">Productos</a>
				</li>
				<li>
					<a href="../views/quien-soy.html">Quien soy</a>
				</li>
				<li>
					<a href="../views/contacto.html">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>


	<main class="mainServicios">

		<section class="section1views">
			<h2 class="section__h2"> Planes de alimentación</h2>
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt minima quas error nemo soluta. Temporibus officiis quod nemo esse nisi quia ipsum aliquid ipsam consectetur. Velit accusamus, illo dolorum deleniti!</p>
			<img class="imgServicios" src="../img/dieta.jpg" alt="Dieta" width="200">
		</section>

		<section class="section2views">
			<h2 class="section__h2">Planes de gimnasio</h2>
			<p>Lorem ipsum dolor sit amet, consectetur, adipisicing elit. Quibusdam recusandae autem veritatis voluptatum temporibus dolores sed repellendus accusamus, dolorum consequuntur dicta error eius nisi voluptate, inventore accusantium molestiae sapiente alias.</p>
			<img class="imgServicios" src="../img/gimnasiofemenino.jpeg" alt="Mujer en el gym" width="200">
		</section>

		<Section class="section3views">
			<h2 class="section__h2">Personal Trainner</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos quas atque vitae consequuntur deserunt saepe iusto quae quo sunt quod aspernatur exercitationem, impedit fugit iure cumque eius nisi in!</p>
			<img class="imgServicios" src="../img/elongacion.jpg" alt="Elongacion" width="200">

		</Section>
	</main>
	
	<footer>
		<a class="footer__link" href="https://www.facebook.com/ezequiel.bustamante.357" target="_blank">
			<img class="footer_img" src="../img/logo-facebook.png" alt="Logo de Facebook" width=50> 
		</a>
		<a class="footer__link" href="https://www.instagram.com/eze.bustamante/" target="_blank">
			<img class="footer_img" src="../img/logo-instagram.png" alt="Logo de Instagram" width=50>
		</a>
		<a class="footer__link" href="https://api.whatsapp.com/send/?phone=5493516975118&text&app_absent=0" target="_blank">
			<img class="footer_img" src="../img/logo-whatsapp.png" alt="Logo de Whatsapp" width=50><br>
		&copy;2022 Ezequiel Bustamante 
		</a>
	</footer>
</body>
</html>